@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.home {
    height: 90vh;
    background-image: url('./images/Critical-Care-Unit-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .bgCreate{
    display: flex;
    justify-content: space-between;
   background-color: rgba(255, 0, 0, 0.6);
}

.right {
    display: flex;
    align-items: flex-end;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: blanchedalmond;
    font-family: Oswald;
}

.left h2{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}

.home2{
    height: 110vh;
    background-image: url('./images/doctrbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container1{
    background-color: #ff48428e;
    padding: 50px;
    color: blanchedalmond;
    height: 100%;
    display: flex;
    align-items: center;
}

.container1  fieldset legend{
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.container1 fieldset p{
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}